.confirmation-modal {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .confirmation-modal h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
  }

  .confirmation-modal p {
    margin-bottom: 10px;
  }

  .modal-buttons {
    display: flex;
    justify-content: flex-end;
  }

  .confirm-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    background-color: #dc3545;
    color: #fff;
    cursor: pointer;
  }

  .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ccc;
    color: #333;
    cursor: pointer;
  }
