/* Heading */
.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* "Create a New Spot" button */
.create-spot-link {
  display: inline-block;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #f15454;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
}

/* Spot tile list */
.spot-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.spot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.spot:hover {
  background-color: #f2f2f2;
}

.spot-image {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.spot-details {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spot-location {
  font-weight: bold;
}

.spot-rating {
  display: flex;
  align-items: center;
}

.star-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.spot-price {
  font-weight: bold;
  margin-bottom: 5px;
}

.spot-buttons {
  /* display: flex; */
  justify-content: left;
  margin-left: 10px;
}

.update-button,
.delete-button {
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 4px;
}

/* Media Queries */

@media screen and (max-width: 1200px) {
  .spot-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 992px) {
  .spot-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .spot-list {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  .spot-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
