/* .spot-detail {
    margin: 20px;
  }

  .spot-detail h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .spot-detail p {
    margin-bottom: 20px;
  }

  .spot-details {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .spot-details > div {
    margin-bottom: 10px;
  }

  .spot-location {
    font-weight: bold;
  }

  .spot-rating {
    font-weight: bold;
    color: black;
  }

  .spot-price {
    font-weight: bold;
  } */
