/* Media Queries */

@media screen and (max-width: 1200px) {
  .spot-list {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media screen and (max-width: 992px) {
  .spot-list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .spot-list {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

@media screen and (max-width: 576px) {
  .spot-list {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}
