/* frontend/src/components/Navigation/Navigation.css */

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
  }

  li {
    margin-right: 10px;
  }

  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: #333;
  }

  .profile-button {
    position: relative;
  }

  .profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    padding: 10px;
    min-width: 150px;
    z-index: 1;
    display: none;
  }

  .profile-button:hover .profile-dropdown {
    display: block;
  }

  .profile-dropdown.hidden {
    display: none;
  }

  .profile-dropdown li {
    margin-bottom: 5px;
  }

  .profile-dropdown a {
    display: block;
    padding: 5px;
    color: #333;
    text-decoration: none;
  }

  .profile-dropdown a:hover {
    background-color: #ddd;
  }
