ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

li {
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  margin-right: 5px;
}

.logo a {
  display: flex;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* "Home" */
a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Profile Button */
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/* Dropdown Menu */

.profile-dropdown {
  position: absolute;
  top: 100px;
  right: 0;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.profile-dropdown.hidden {
  display: none;
}
